
.top{
    background-image: url('/assets/carousel.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: bottom ;
    background-size: 100% auto ;
    
}
.sombra{
    background-color: rgba(0, 1, 5, 0.658); 
}

.fondo-gris{
    background-color: rgb(245, 245, 245);
    min-height: 85vh;
}

.puede {
    background-color: #FFF;
}

@media only screen and (max-width: 1200px) {   
    .top{
        background-size: auto  100% ;
    }
}

@media only screen and (max-width: 768px) {   
    .top .display-4 {
        font-size: unset !important;
    }
}